{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidenav -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="bi bi-house"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-person-circle"></i> Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-box-arrow-in-right"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <div class="w-100" style="max-width: 400px;">
                    <form method="post" class="shadow p-4 bg-white rounded">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3 text-center">
                                <p>You are logged in as <strong>{{ app.user.userIdentifier }}</strong></p>
                                <a href="{{ path('app_logout') }}" class="btn btn-secondary btn-sm">Logout</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 text-center font-weight-normal">Please sign in</h1>
                        <div class="form-group mb-3">
                            <label for="username">Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" 
                                   class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input type="password" name="_password" id="password" 
                                   class="form-control" autocomplete="current-password" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="text-center">
                            <button class="btn btn-lg btn-primary w-100" type="submit">
                                Sign in
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
